@import '../../../styles/settings.scss';

.root {
  max-width: 1280px;
  margin: auto;
  padding-top: 40px;

  .postStatusWrapper {
    background: $color-main;
    border-radius: 20px;
    margin: 20px 0;
    width: 130px;

    .postStatus {
      color: $color-white;
      text-align: center;
    }
  }

  .postEdit {
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    cursor: pointer;
    color: $color-main;
    float: left;
    padding-top: 10px;

    .editIcon {
      width: 15px;
    }
  }

  .postImage {
    width: 100%;
    height: auto;
  }

  .postContent {
    float: right;
  }

  .icons {
    padding-top: 40px;
  }

  .contactIcon {
    width: 18px;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;

    .postDescription {
      padding-bottom: 10px;
    }

    .postContact {
      display: flex;
      flex-direction: row;
      padding: 5px 0;

      .author {
        font-size: 15px;
        padding-left: 6px;
      }
    }

    .titleWrapper {
      display: flex;

      .title {
        flex: auto;
      }
    }

    .date {
      margin-top: auto;
    }
  }
}
