@import '../../../styles/settings.scss';

.root {

  .appBar {
    background: #ff9900;

    .menu {
      justify-content: space-between;

      .logo {
        margin-right: 15px;
      }
    }
  }
}
