@import '../../../styles/settings.scss';

.root {

  .appBar {
    background: $color-main;

    .menu {
      justify-content: space-between;

      .logo {
        margin-right: 15px;
      }

      .home {
        color: $color-white;
        text-decoration: none;
      }

      .login, .announcements {
        text-decoration: none;
        cursor: pointer;
        color: $color-white;
        background: transparent;
      }

      .announcements {
        padding-right: 350px;
      }
    }
  }
}
